@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Tiro+Gurmukhi:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgba(161, 100, 223);
    font-family: 'Tiro Gurmukhi', serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.btn {
    background-color: rebeccapurple;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    margin: 1rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}




