@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Tiro+Gurmukhi:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Tiro Gurmukhi', serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.loading-text {
    font-size: 30px;
    color: black;
}

.background-image {
    background: url('https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5fGVufDB8fDB8fA%3D%3D&w=1000&q=80') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* need the width and height for photo to show 100vh to fit entire photo */
    z-index: -1;
    filter: blur(0px);
}